.icon {
  font-size: 2.5em;
}

.logo {
  height: 100px;
  width: auto;
}
.card-img-top {
  height: 280px;           /* Altura fija para todas las imágenes */
  object-fit: contain;     /* Ajusta la imagen dentro del espacio sin deformarla */
  padding: 10px;           /* Un poco de espacio para que no se recorte */
}
